* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #F9F9F9; }

.nav-left {
    display: flex;
    gap: 8px;
}

.nav-left h1 {
    color: var(--black, #303031);
    font-size: 32px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: -1.28px; 
}

.nav-links a {
    color: var(--black, #303031);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.36px; 
}

.nav-links .last {
    color: var(--green, #71A894);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 800;
    letter-spacing: -0.36px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 31px;
}

.logo {
    cursor: pointer;

}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}